.white{
    width: 60px;
    height: 200px;
    background-color: white; 
    border: 2px solid black; 
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.buttonText{
    margin-bottom: 5px;
}
.pianoBlock{
    display: flex;
 
}