.pianoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 220px;
}
.white {
  width: 60px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5%;
}
.pianoBlockForWhite {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  z-index: 1;
}
.buttonText {
  margin-bottom: 5px;
}
.black {
  width: 40px;
  height: 120px;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.pianoBlockForBlack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 0px;
  margin-right: 60px;
  z-index: 2;
}

.blackButtonText {
  margin-bottom: 5px;
  color: white;
}
.black:active {
  transform: translateY(3px);
}
.white:active {
  transform: translateY(3px);
}
.blackType1 {
  margin-left: 10px;
  margin-right: 10px;
}
.blackType2 {
  margin-left: 10px;
  margin-right: 40px;
}
.blackType3 {
  margin-left: 40px;
  margin-right: 10px;
}
.playingBlock{
  height: 350px;
  width: 900px;
  position: relative;
}
.playingBlockBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}
#block {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 300px;
  left:200px
}
.block {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 100px;
}
.receivingarea {
  width: 900px;
  height: 30px;
  border: 2px solid black;
  background-color: transparent;
  position:relative;
  top: 0px;
 
}
.receivingareaBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}
#blockc3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:15px
}
#blockuc3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:45px
}
#blockd3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:75px
}
#blockud3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:105px
}
#blocke3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:150px
}
#blockf3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:190px
}
#blockuf3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:225px
}
#blockg3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:260px
}
#blockug3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:285px
}
#blocka3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:320px
}
#blockua3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:345px
}
#blockb3{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:385px
}
#blockc4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:435px
}
#blockuc4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:465px
}
#blockd4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:495px
}
#blockud4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:525px
}
#blocke4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:570px
}
#blockf4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:610px
}
#blockuf4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:645px
}
#blockg4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left: 680px;

}
#blockug4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:705px
}
#blocka4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:740px
}
#blockua4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:765px
}
#blockb4{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:805px
}
#blockc5{
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left:865px
}
.test{
  top: 0px;
}


.score-display {
  
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

  