.pianoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
}
.white {
  width: 60px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5%;
}
.pianoBlockForWhite {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  z-index: 1;
  border-width: 3px;
}
.buttonText {
  margin-bottom: 5px;
}
.black {
  width: 40px;
  height: 120px;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.pianoBlockForBlack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 40px;
  margin-right: 60px;
  z-index: 2;
}

.blackButtonText {
  margin-bottom: 5px;
  color: white;
}

.black:active {
  transform: translateY(3px);
}
.white:active {
  transform: translateY(3px);
}
.blackType1 {
  margin-left: 10px;
  margin-right: 10px;
}
.blackType2 {
  margin-left: 10px;
  margin-right: 40px;
}
.blackType3 {
  margin-left: 40px;
  margin-right: 10px;
}
.keyMin,
.keyPlus {
  transition: all 0.07s ease;
  color: #333;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.keyMin:hover,
.keyPlus:hover {
  background-color: #dfbe97;
}
input[type="range"] {
  width: 300px;
  background: #882f2f;
  margin: 0 1rem;
}
.tempoRun {
  width: 100px;
}
#tempoRunButton {
  margin-top: 30px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 2;
  border-width: 0cm;
}
#tempoRunButton:active {
  transform: scale(0.8);
  /* transition: 0.2s; */
}
.tempo {
  width: 30%;
}
.tempoRunButtonBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bpmBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tempoNumberBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tempoNumber {
  position: relative;
  font-size: 0.8cm;
  z-index: 1;
  color: aliceblue;
}
.keyMin,
.keyPlus,
#bpmInput {
  position: relative;
  z-index: 1;
}
.keyMin:active {
  transform: scale(1.2);
}
.keyPlus:active {
  transform: scale(1.2);
}
#recordButton {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 0cm;
  cursor: pointer;
  background-color: rgb(163, 185, 111);
  margin-top: 250px;
  z-index: 2;
}
.record {
  width: 100%;
  display: flex;
}
.recordBlock {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
#downloadButton {
  position: relative;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-width: 0cm;
  z-index: 2;
}
#downloadButton:hover {
  background-color: antiquewhite;
}
.download {
  height: 80%;
}
.downloadBlock {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes colorChange {
  0% {
    background-color: red;
    transform: scale(1);
  }
  50% {
    background-color: rgb(198, 50, 50);
    transform: scale(1.2);
  }
  100% {
    background-color: red;
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes domDomDom {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.topOfPiano {
  height: 320px;
}
#puName {
  width: 80%;
  height: 20%;
  font-size: large;
  border-radius: 20px;
  z-index: 2;
  border-width: 0cm;
}
.puNameBlock {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.createPage {
  position: relative;
  /* height: calc(100vh - 181px); */
}
.createPage::before {
  content: "";
  background-image: url("../../image/piano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
