.homePage {
  position: relative;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage::before {
  content: "";
  background-image: url("../../image/piano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_center {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_full_name {
  font-size: 2cm;
}
.button_left {
  cursor: pointer;
}
